wallet-manager.sbapps.dev {
    reverse_proxy web:80
}

api.wallet-manager.sbapps.dev {
    reverse_proxy fastapi:8000
}

n8n.wallet-manager.sbapps.dev {
    reverse_proxy n8n:5678
}

evo-api.wallet-manager.sbapps.dev {
    basicauth {
        {{EVO_API_USER}} {{EVO_BASIC_AUTH_HASH}}
    }
    reverse_proxy evolution-api:8080
}
